/* 
*****************************************
*****************************************

ABOUT PAGE CSS  - MAIN AND SECTIONS

*****************************************
*****************************************
*/
#topbar-container{
  position: relative;
  color: white;
  text-align: center;
  animation: slideIn 1.5s ease-out;
}
.background{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: url("./images/universe_background.jpg");
  background-size: cover;
  background-position: center;
}
.container{
    position: relative;
    color: white;
    text-align: center;
    animation: slideIn 1.5s ease-out;
}
#Our-tutor{
  padding: 2rem 0;
  text-align: center;
  color: var(--text-warning-color);
  font-size: 24px;
}

#our-class {
  padding-top: 1rem;
  text-align: center;
  color:var(--text-heading-color)
}

#about-student-section {
  background-color: rgba(255, 255, 255, 0.174);
  padding-bottom: 2rem;

}
.about-student-id > ul { 
  padding: 0 20px;
  padding-top: 2rem;

  font-size: 32px;
  color: var(--text-heading-color);
  list-style-type: none;

  display: flex;
  justify-content: space-between; /* spread them apart */
}


/*The title "Members contribution"*/
#about-Group7-member-contribution{
  margin: 4rem 0 1rem 0;
  text-align: center;  
  font-size: 24px;
  color: var(--text-warning-color);
}



#Members-contributions{
  background-color: rgba(255, 255, 255, 0.174);
  padding: 1rem 0.5rem;

}
#Members-contributions dt{      /*The content of the members contribution*/
  font-size: 20px;
  color:var(--text-heading-color);
}
#Members-contributions dt::before{
  content: "■";           /* Unicode square character */
  display: inline-block;
  margin-right: 8px;      /* Space between square and the <dl> */
  margin-left: 50px;
}
#Members-contributions dd::before{
  content: "-";           /* Unicode square character */
  display: inline-block;
  margin-right: 8px;      /* Space between square and the <dl> */
  margin-left: 20px;
}



#about-figure-group-img{
  float: right;       /*image on the right side*/
  margin: 20px;
  display: flex;
  flex-direction: column;
}
#group-image{
  border: 4px solid var(--block-basic-color); /* border shorthand: width style color */
  max-width: 300px;
  height: auto;
}
#about-figure-group-img figcaption {
  align-self: center;
}




.about-table, .about-table th, .about-table td{
  margin:auto;
  border: 0.5px var(--bg-main-color) solid;
  background-color: rgba(255, 255, 255, 0.174);
  backdrop-filter: blur(5px);
  text-align: center;            /* styling our interests' table*/
  padding:25px ;
  border-collapse: collapse;
}


.about-table {
  width: 100%;
  table-layout: fixed; /* columns evenly spaced */
  word-wrap: break-word;
  margin-bottom: 1rem;
}
.about-table th{
  font-weight: bold;             /*bold headings*/
  background-color: #478aac74; /*diff color for headings*/
  color: var(--text-heading-color);
}

.about-table td:hover{
    background-color: rgba(255, 255, 255, 0.544);  /* make the hover effect on table cells (not headings) */
  cursor: pointer;
}

.about-table tr td:first-child {
  color: var(--text-heading-color);
}

.diagonal-cell {
  width: 100px; /* creat a diagonal line in the (0,0) cell*/
  height: 100px;
  background: linear-gradient(to left bottom, transparent 49%, var(--bg-main-color) 50%, transparent 51%);
}
.about-table caption{
  font-size: 24px;        /* our team's interests*/
  font-weight: bold;
  color: var(--text-warning-color);
  margin: 4rem 0 1rem 0;
  text-align: center;
}
.footer {
  position: relative;
  color: white;
  text-align: center;
  animation: slideIn 1.5s ease-out;
}