/*

filename: styles.css

authors: Vu Hoang Long, Trinh Thai Anh Tuan, Dang Thien An, Duong Tri Duc

created: 27-9-2025

last modified: 12-10-2025

description: the css file for all pages

*/





/* 
*****************************************
*****************************************

BASIC STYLING

*****************************************
*****************************************
*/

/* Reset everything to default state  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --bg-primary: hsl(0, 0%, 0%);
  --bg-secondary: hsl(0, 0%, 15%);
  --bg-third: hsl(0, 0%, 30%);

  --border: hsl(0, 0%, 50%);

  --text-primary: hsl(0, 0%, 90%);
  --text-secondary: hsl(0, 0%, 70%);

  --accent-primary: hsl(233, 70%, 60%);
  --accent-secondary: hsl(233, 70%, 70%);

  --space-img: url("../images/space-bg3.jpg");

  --green: hsl(139, 95%, 55%); 
  --red: hsl(353, 84%, 45%);

  /* 
  OTHER ACCENTS:
  Blue
  --accent-primary: hsl(233, 70%, 60%);
  --accent-secondary: hsl(233, 70%, 70%);

  --space-img: url("../images/space-bg3.jpg");

  Orange
  
  --accent-primary: hsl(15, 70%, 60%);
  --accent-secondary: hsl(15, 70%, 70%);

  --space-img: url("../images/space-bg2.jpg");

  Cyan
  --accent-primary: hsl(195, 80%, 44%);
  --accent-secondary: hsl(195, 90%, 70%);

  --space-img: url("../images/space-bg3.jpg");
  
  */
}

body {
  font-family: 'Exo 2', sans-serif;
  background-color: var(--bg-primary);
  color: var(--text-primary);

}

p, li, figcaption, label {
  font-size: 16px;
}

img{
  max-width:100%;
  height:auto;
  display: block;
}

a {
  color:var(--accent-primary);
  z-index: 9999;
}
a:hover, a:active {
  color:var(--accent-secondary);
}



#backToTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: var(--accent-secondary);
    color: var(--text-primary);
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    text-decoration: none;
    transition: background-color 0.3s, opacity 0.3s, transform 0.5s ease;
    opacity: 0.5;
}

#backToTop:hover,
#backToTop:focus {
    background-color: var(--accent-primary);
    opacity: 1;
    transform: scale(1.05);
}


/* --- Logo --- */
header {
	border-bottom: 1px solid var(--border);
}


/* --- Logo --- */
#logo {
    display: flex;
    align-items: center;
	padding: 1rem 0 0 1rem;
}

#logo p {
    margin-left: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

/* --- Navigation Menu --- */
#nav-menu {
	width: 100%;
	padding: 1rem 0;

}

#nav-menu ul {
    display: flex;
    flex-wrap: wrap;
	justify-content: center;
    list-style: none;
    gap: 1.5rem;
    align-items: center;
}

#nav-menu a {
	display: block;
	padding: 0.5rem 1rem;
	text-decoration: none;
	color:var(--text-primary);
	font-weight: bold;
	transition: background-color 0.3s ease-in-out, color 0.1s ease-in;
	border-radius: 4px;
	font-size:20px;

}

#nav-menu a:not(#current-page):hover {
  background-color: var(--accent-primary);
}





#nav-menu li { opacity:0; animation: menuSlideIn 0.5s ease-out forwards; }

#nav-menu li:nth-child(1) { animation-delay:0.1s; }
#nav-menu li:nth-child(2) { animation-delay:0.25s; }
#nav-menu li:nth-child(3) { animation-delay:0.4s; }
#nav-menu li:nth-child(4) { animation-delay:0.55s; }
#nav-menu li:nth-child(5) { animation-delay:0.7s; }
#nav-menu li:nth-child(6) { animation-delay:0.85s; }


#nav-menu #current-page {
    animation: activateCurrent 0.4s 1.2s forwards ease-in-out;
}







/* 
*****************************************
*****************************************

   FOOTER CSS

*****************************************
*****************************************
*/



footer{
  border-top: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  clear: both;
  align-items: center;
  text-align: center;
  margin: 1rem 0;
  color: var(--text-secondary);

  line-height: 1.5rem;
}
footer a {
  text-decoration: none;
  display: block;
  color: var(--accent-primary);
  font-weight: bold;
}
footer strong {
	color: var(--text-primary);
}
footer > strong{
  margin-top:1.5rem;
  margin-bottom: 0;
  
}


footer p {
  font-size: 16px;
  color: var(--text-secondary);
}


#footer-logo {
  display: block;
  margin-bottom: 2rem;
}
#footer-logo p {
  margin-top: 0.5rem;
}

#contact-info {
  margin-bottom: 2rem;
}





/* 
*****************************************
*****************************************

  ANIMATION BANK

*****************************************
*****************************************
*/
/* Gradient background used in apply, about */
@keyframes gradientShiftSpace {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Sliding menu used in nav menu */
@keyframes menuSlideIn { from {opacity:0; transform:translateX(-20px);} to {opacity:1; transform:translateX(0);} }
@keyframes dropDown { from {opacity:0; transform:translateY(-15px);} to {opacity:1; transform:translateY(0);} }


/* Highlight current page used in nav menu */
@keyframes activateCurrent { to { background-color: none; background-color: var(--accent-primary); } }


@keyframes slideIn {
    from {
        transform: translateY(5px);
    }
    to {
        transform: translateY(-10px);
    }
}





@keyframes pageSlideIn {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes hiring-pulse {
    0% {
        color: var(--accent-primary); /* Initial color */
    }
    50% {
        color: var(--text-primary); /* Flash to the main text color or a contrasting color */
        text-shadow: 0 0 5px var(--accent-primary); /* Optional glow effect */
    }
    100% {
        color: var(--accent-primary); /* Return to initial color */
    }
}
/* 
*****************************************
*****************************************

  RESPONSIVE DESIGN

*****************************************
*****************************************
*/


@media (max-width: 700px) {
	#logo p {
    	font-size: 1rem;
	}




	/*menu items stack on top of each others */
	#nav-menu ul {
		flex-direction: column;
		gap: 0.5rem;
	}
	#nav-menu li {
		font-size: 15px;
		width: 100%;
		text-align: center;
	}

	#nav-menu li { opacity:0; animation: menuSlideDown 0.5s ease-out forwards; }

}












