/*
*****************************************
Index PAGE CSS - MAIN AND SECTIONS
*****************************************
*/


#index-intro, #index-achievements, #index-aspiration, 
#index-our-people, #index-our-brilliant-minds, #Why-work-with-us 
{
    display: block;
}

/* Intro */
#index-intro h1{
    text-align: center;
    margin-top: 10rem;
    font-size:45px;

}

#index-intro p {
    margin-top: 1.5rem;
    text-align: center;
    padding: 0 5rem;
    font-size: 24px;
}



/* Achievements */
#index-achievements {
    margin-top: 22rem;
    margin-bottom: 10rem;
}
#index-achievements h1{
    text-align: center;
    font-size:40px;

}

.achievement-2060, .achievement-2075, .achievement-2110 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 4rem 1rem; /* consistent vertical padding */
}

.achievement-2075 {
    flex-direction: row-reverse;
    padding-top: 6rem;
    padding-bottom: 2rem;
}

.achievement-figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    gap: 1rem;
}
.achievement-figure figcaption{
    font-size: 24px;
    color: var(--text-secondary);
} 
.achievement-text{
    font-size: 24px;
    padding: 0 1rem;
    background-color: var(--accent-primary);
    width: fit-content;
} 
.achievement-figure img {
    border-radius: 8px;
}
/* Aspiration paragraph */
#index-aspiration {
    text-align: center;
    font-weight: bold;
    padding: 1.5rem 1rem; 
    margin-top: 10rem;
    background-color: var(--bg-third);
    width: fit-content;
    font-size: 24px;
}

/* Our People */
#index-our-people {
    margin-top: 20rem;
    margin-bottom: 20rem;

}
#index-our-people h1{
    font-size: 40px;
    text-align: center;
}
#index-our-people p {
    text-align: center;
    margin: 1.5rem;
    font-size: 24px;
}
#index-our-people p:first-of-type {
    margin-top: 3rem;
}


/* Our Brilliant Minds */
#index-our-brilliant-minds {
    text-align: center;
    padding: 2rem;
}

#index-our-brilliant-minds {
    margin: 2rem 0;
}
#index-our-brilliant-minds  h1{
    font-size: 40px;
    text-align: center;

}
#index-our-brilliant-minds p {
    margin: 2rem;
    font-size: 22px;
}
#index-our-brilliant-minds > p:first-of-type {
    margin-bottom: 10rem;
    font-size:24px;
}


.engineer-row {
    display: flex;
    align-items: flex-start;
    gap: 2.5rem;
    margin-bottom: 3rem;

}
/* Reverse even rows */
.engineer-row:nth-child(even) {
    flex-direction: row-reverse;
}


/* Text alignment based on row */
.engineer-row:nth-child(odd) .engineer-profile {
    text-align: left;
}

.engineer-row:nth-child(even) .engineer-profile {
    text-align: right;
}


.engineer-row:last-of-type {
    margin-bottom: 10rem;
}

/* Left side text */
.engineer-profile {
    flex: 1;
    font-size: 1rem;
    line-height: 1.6;
}

/* Right side image + caption */
.engineer-figure {
    flex: 1;
    max-width: 350px;
}

.engineer-figure img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.engineer-figure figcaption {
    margin-top: 0.5rem;
    font-size: 16px;
    color: var(--text-secondary);
    text-align: center;
}

/* Together section */
#index-our-brilliant-minds-together {
    text-align: center;
    font-weight: bold;
    padding: 1.5rem 1rem; 
    background-color: var(--bg-third);
    width: fit-content;
    font-size: 24px;
}





/* Why Work With Us */
#Why-work-with-us  h1{
    margin-top: 20rem;
    font-size: 40px;
    text-align: center;

}
#Why-work-with-us ul {
    list-style-type: none;
    font-style: italic;
    padding: 0;
    margin: 2rem 0;
}

.work-with-us-item {
    margin: 5rem 0;
    font-size: 20px;

}

.work-with-us-item--left {
    text-align: left;
    margin-left: 1rem;
    padding-left: 0.5rem;
    border-left: 3px solid #fff;
}

.work-with-us-item--right {
    text-align: right;
    margin-right: 1rem;
    padding-right: 0.5rem;
    border-right: 3px solid #fff;
    border-left: none;
}

#Why-work-with-us figure {
    margin: 4rem 0;
    text-align: center;
}
#workplace-img-container {
    display: flex;
    flex-direction: column;     /* stack image and caption vertically */
    align-items: center;        /* center horizontally */
    justify-content: center;    /* center vertically, if container has height */
    height: auto;    
}
#workplace-img-container img {
    border-radius: 8px;
}
#workplace-img-container figcaption {
    color:var(--text-secondary);
    font-size: 20px;
}