/* 
*****************************************
*****************************************

JOBS PAGE CSS  - MAIN AND SECTIONS

*****************************************
*****************************************
*/


#forewords h1{
  text-align: center;
  font-size: 45px;
  margin: 2rem 0;
}

#forewords p {
  text-align: center;
  font-size: 20px;
  padding: 0 0.5rem;
}



#bottom-section {
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
  line-height: 1.5rem;
}
#bottom-section h2 {
  margin-bottom: 1rem;
}
#bottom-section strong {
  color:var(--text-primary);
}
#bottom-section li {
  color:var(--text-secondary);
  margin-left: 1.5rem;
}

.jobs-aside {
  padding: 1.5rem;
}


.jobs-aside li {
  list-style-type:decimal;
}



.jobs-benefits {
  padding: 1.5rem;
}




/* 
--------------------------------------------
 job dropdown menu css in the jobs.php  
 --------------------------------------------
*/



.main-buttons {
  display: flex;
}
/* hide the checkbox icon/button  */
#toggle-jobs-menu {
  width: fit-content;
  display: none;
}
/* styling the Jobs button  */
.jobs-menu-button, .go-apply-btn {
  cursor: pointer;
  display: block;
  width: fit-content;

  text-decoration: none;
  border: 1px solid var(--border); 
  border-radius: 6px;
  font-size: 24px;

  padding: .5rem;
  margin-left: 2rem;
  margin-top: 5rem;
  color:var(--text-primary);
  background-color: var(--blue-primary);

}
.jobs-menu-button:hover {
  background-color: var(--blue-secondary);
}


/* making the bottom corners of the Jobs button straight if the Jobs button is clicked  */
#toggle-jobs-menu:checked + .jobs-menu-button {
  border-radius: 6px 6px 0 0;
  border-bottom: none;
  background-color: var(--blue-primary);



}


/* hide all the checkbox/radio icons/buttons of the job menu  */
.job-menu {
  margin-left: 2rem;
}
.job-menu input{
  display: none;
}

.job-menu label{
  display: block;
}

.job-menu  li {
  list-style-type: none;
  border: 1px solid var(--border); 
  border-bottom: none;
}
.job-menu li:last-child {
  border-bottom: 1px solid var(--border); 
}
/*1. hide the list of departments  */
.job-menu {
  display: none;
}

/*2. show the list of departments if the Jobs button is clicked */
#toggle-jobs-menu:checked ~ .job-menu {
  display: block;
  border: none;
  border-radius: 0 0 4px 4px;
}


/* the dropdown_animation */
@keyframes dropdown_animation {
  from {
    opacity: 0;  
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
/* making the list of departments and job positions show up more smoothly */
.job-menu li, .job-positions {
  animation: dropdown_animation 0.4s ease forwards;
}


/*1. hide the list of job positions  */
.job-listing-container {
  display: none;
}


/*2. show the list of job positions if the department is clicked */
input[name="department-select"]:checked ~ .department-content .job-listing-container {
  display: block;
  border-left: 1px solid var(--border);
}

/* make the display from normal blocks to grid so to have a better layout (when the department is clicked) */
input[name="department-select"]:checked ~ .department-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 0;
  background-color: var(--bg-secondary);

}

/* some basic styling of the job positions */
/* some basic styling of the job positions */

/* adding border-top and padding to separate the departments */
.department-content label {
  padding: 0.5rem;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
  font-size: 24px;
}

.department-content label:hover {
  transform: translateX(6px);
  color: var(--green);
}


/* cancle the hovering animation for department lables after it is clicked */
input[name="department-select"]:checked ~ .department-content label:first-child {
  color: var(--green);
  transform: translateX(0px);
  cursor: pointer;
}


/* remove the border-top of the first item */
.job-menu li:first-child .department-content {
  border-top: none;

}


/*1. hide the description/content of the job position  */
.job-descriptions {
  display: none;
}
/*2. show the description/content if the job position is clicked */
.job-positions input:checked + label + .job-descriptions {
  display: block;
  background-color: var(--bg-third);
  margin: 0.5rem;
}


/* adding border-top and padding to separate job positions */
.job-positions {
  border-top: 1px solid var(--border);
  padding: 0.5rem 0;
}
/* remove the border-top of the first item */
.job-listing-container .job-positions:first-child {
  border-top: none;
}
.job-descriptions {
  padding: 1.5rem;
  padding-top:1rem;
}
.job-descriptions li, .job-descriptions li:last-child {
  border: none;
}

.job-descriptions h3{
  margin-top: 2rem;
  background-color: var(--blue-primary);
  width: fit-content;
  padding: 0 0.5rem;
  border-radius: 4px;
}
.job-descriptions h3:first-of-type{
  margin-top: 1rem;
}

.job-descriptions li:first-child{
  margin-top: 1rem;
}

.job-descriptions p{
  margin-top: 1rem;
  margin-left: 1rem;
}

.job-descriptions li {
  list-style-type: disc;
  margin-left: 1.5rem;
  line-height: 1.5rem;
}


/* hovering animation for the jobs department */
.job-positions label {
  transition: transform 0.3s ease, color 0.3s ease;
}
.job-positions label:hover {
  transform: translateX(6px);
  color:var(--green);
}


/* cancle the hovering animation for department lables after it is clicked */
.job-positions input:checked ~ label {
  color: var(--green);
  margin-left:0.5rem;
}


/* styling the not hiring text */
.job-descriptions h3.not-hiring {
  background-color: var(--red);
  font-size: 20px;
}


.job-basic-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem; 
  font-weight: bold;
  background-color: var(--blue-primary);
  width: fit-content;
  padding: 1rem;
  font-size: 20px;
}
.job-basic-info dt {
  color:var(--text-heading-color);
}

.job-basic-info .pair-data {
  display: flex;
  gap: 0.5rem;
}


.department-content .dept-hiring {
  color:var(--text-heading-color);
}
.job-positions .is-hiring {
  color: var(--text-heading-color);
}





/* 
*****************************************
*****************************************

  RESPONSIVE DESIGN

*****************************************
*****************************************
*/


@media (max-width: 700px) {
  #bottom-section {
    flex-direction: column;
  }


}


.background{
  background: url("./images/universe_background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}