/*main background*/
.background{
    width: 100%;
    height: 100vh;
    background: url("./images/universe_background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
}
/*smaller background*/
.container{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 550px;
    background: url("./images/universe_background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
/*left side of the web*/
/*left side of the web*/
/*left side of the web*/
.container .content{
    position: absolute;
    top:0;
    left:0;
    width: 58%;
    height:100%;
    padding: 80px;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: transparent;
}
.content .logo{
    font-size: 30px;
    color: aliceblue;
}
.text-sci h2 {
    font-size: 40px;
    line-height: 1;
    color: aliceblue;
}
.text-sci h2 span{
    font-size: 25px;
}
.social-icons a i{
    font-size: 22px;
    color:white;
    margin-right: 10px;
    transition: .5s ease;
}
.social-icons a:hover i{
    transform: scale(1.2);
}
/*right side of the web*/
/*right side of the web*/
/*right side of the web*/
.container .login_container{
    top:0;
    right:0;
    position: absolute;
    width: calc(100% - 58%);
    height: 100%;
}
.login_container .login_form_box{
    display:flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    width:100%;
    height: 100%;
    backdrop-filter: blur(15px);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color:aliceblue;
}
.login_form_box h2{
    font-size: 32px;
    text-align: center;
    color:aliceblue;
}
.login_form_box .input_box{
    position: relative;
    width: 340px;
    height: 50px;
    border-bottom: 2px solid white;
    margin: 30px 0;
}
.input_box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border:none;
    outline:none;
    font-size: 16px;
    color:aliceblue;
    
}
.input_box label{
    position: absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 500;
    pointer-events: none;
    transition: .5s ease;
}
.input_box input:focus~label,
.input_box input:valid~label{
    top: -5px;
}

.input_box .icon{
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 19px;
}