.List_manage{
    background-color: #1b1b1a;       /* deep gray background */
    color: #f8fcfc;                  /* soft white text */
    padding: 20px;
    margin: 30px auto;
    width: 60%;
    border-radius: 8px;              /* rounded corners */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}