#back_to_Manage_Page_icon{
    padding: 12px;
    margin: 20px;
    border-radius: 4px;
    border: 1px solid white;
    background: transparent;
    color:rgb(255, 255, 255);
    border-radius: 6px;
    text-decoration: none;
}
#back_to_Manage_Page_icon a{
    top: -4px;
    text-decoration: none;
}
#EOI_Query_Results_title{
    text-align: center;
    color:white;
    margin: 30px;
    padding: 30px;
}
.background{
    width: 100%;
    height: 100vh;
    background: url("./images/universe_background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    
}
.container{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 550px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}